<button mat-raised-button color='primary' class="botao" #cadastro (click)='clicou2(cadastro)'>
  <svg style="width:24px;height:24px" viewBox="0 0 24 24" *ngIf="!cadastro.value">
          <path fill="#FFFFFF" d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z" />
  </svg>
      <svg style="width:24px;height:24px" viewBox="0 0 24 24" *ngIf="cadastro.value">
              <path fill="#FFFFFF" d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" />
      </svg>
<span>Meu Cadastro</span>  
</button>
<button mat-raised-button  class=" submenu" *ngIf="cadastro.value">
<mat-icon>add</mat-icon>
<span>Perfil</span>  
</button>
<button mat-raised-button  class=" submenu" *ngIf="cadastro.value">
  <mat-icon>add</mat-icon>
  <span>Documentos</span>  
</button>
