.menu{
     background:#E6E3E3; 
    float:left; 
    border:1px solid #FFF;
    margin: 0px;
    padding: 0;
    width: 330px;
    height: 894px;
    color: lightgray;
    box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.12);
}

.botao{
  
    width:324px;
    margin-left: 40px;
    margin: 4px;
}
.tituloMenu{
    width: 99%;
    height: 50px;
    background-color:#483D8B;
    font-size: 50px;
    font:bold;
}
.primeiro{
 margin-top:10px;
}
