<app-cabecalho></app-cabecalho>
<div>
  <div class='menu'>
    <div>
        <button mat-raised-button routerLink="home"color='primary' class="botao primeiro">
      
         <span>

           Inicio

          </span>

        </button>

     </div>
       <div>
    <app-cadastro></app-cadastro>
  </div>
     <div>
      <button mat-raised-button color='accent' (click)='setAchei(true)'class="botao">
        <mat-icon>mood</mat-icon>
          <span>
            Achei!
          </span>
      </button>
    </div>

  <div>
    <button mat-raised-button  color='accent' (click)='setAchei(false)'class="botao">
      <mat-icon>
        warning
      </mat-icon>
      <span>
        
        Perdi!
        
      </span>
      
    </button>
  </div>
  <div>
  
      
  </div>
</div>
</div>
<app-inicio></app-inicio>

