<div>
  <div class='menu'>
    <div>
        <button md-raised-button color='primary' class="botao primeiro">
      
         <span>

           Inicio

          </span>

        </button>

     </div>
       <div>
    <app-cadastro></app-cadastro>
  </div>
     <div>
      <button md-raised-button color='accent' #achei class="botao">
        <md-icon>mood</md-icon>
          <span>
            Achei!
          </span>
      </button>
    </div>

  <div>
    <button md-raised-button  color='accent' class="botao">
      <md-icon>
        warning
      </md-icon>
      <span>
        
        Perdi!
        
      </span>
      
    </button>
  </div>
  <div>
  
      
  </div>
</div>
</div>
<app-inicio></app-inicio>

