
  <div class="video-background">
    <div class="video-foreground">
      <iframe 
      src="https://www.youtube.com/embed/ng8Wivt52K0?controls=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=ng8Wivt52K0&autohide=1" frameborder="0" allowfullscreen>
    </iframe>
    </div>
  </div>

<div class='loginLayout'>
  <div class='loginBox'>


    <form>
      <md-form-field class="campos">
        <input mdInput placeholder="Login">
      </md-form-field>
      <md-form-field class="campos">
        <input mdInput placeholder="senha" type="password">
      </md-form-field>
      <button md-raised-button color="primary" class='botao'>
        <span>Entrar</span>
      </button>
    </form>
    
        <md-expansion-panel class="cadastrese">
          <md-expansion-panel-header >
            <md-panel-title  class="esqSenha" >
             <span>
               Cadastre-se
             </span>
            </md-panel-title>
          </md-expansion-panel-header>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
              </svg>
             <span>entrar com facebook</span>
        </md-expansion-panel>
        <div class="esqSenha">
            <span>
             
             <a href="#" class="esqSenha"> Esqueceu a senha? </a>
            
             
            </span>
      
            <div>
      </div>

    </div>

  </div>

</div>