<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Achei!</md-card-title>
    <md-card-subtitle>2° via? Não,nós te ajudamos! </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="http://midias.gazetaonline.com.br/_midias/jpg/2016/06/07/documentos_perdidos-4398515.jpg" alt="fonte - Google.com">
  <md-card-content>
    <p>
      O Achei! foi desenvolvido para ajudar a todas as pessoas que perderam seus documentos
      a reencontralos, diminuindo os custos com 2° vias e problemas com a burocracia que estão por tras 
      do processo de resolução do problema.
    </p>
    <p>
      Para que o Achei! fique cada dia mais efetivo ele conta com a colaboração de todos, se encontrou um documento clica em Achei! e ajude
      uma pessoa a resolver um grande problema. 
    </p>
    <p>
      Se você perdeu um documento, não se desespere clique em Perdi!, vamos te ajudar a encontrar e quando acharmos te avisaremos!
    </p>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
  
</md-card>